[user]
	name = manzen
	email = ririn.eva0129@gmail.com

[alias]
	ad = add
    ada = add --all
    st = status
    co = checkout
    sw = switch
    br = branch
    bra = branch -a
    cm = commit
    cmm = commit -m
    cmam = commit --amend
    mg = merge
    mg-noff = merge --no-ff
    ft = fetch
    fet = fetch
    pll = pull
    psh = push
    push-f = push --force-with-lease
    diff-no = diff --name-only
    log-graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    log-oneline = log --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)%an %C(reset)%s %C(red)%d' --date=iso -n 10
[core]
	excludesfile = /Users/endo-yuta/.gitignore
